#left-square {
  padding-top: 5rem;
  background-image: url('pics/apology.png');
  height: 20vw;
  background-size: 20vw;
  background-repeat: no-repeat;
  /*border-color: black;*/
  /*background-position: center;*/
  /*background-position: 0px 0px; */

}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  padding: 0px;
}

li {
	/*position: absolute;*/
	float:right;
  padding-top: 50px;
  padding-right: 5px;
  list-style-type: none;
}

.icons {
  padding-right: 45px;
}

.container {
/*  border-style: solid;
  border-color: red;*/
  padding-left: 45px;
  padding-right: 45px;
  height: 150px;

}

.col-sm {
  /*background-color: green;*/
  /*border-color: blue;*/
  /*border-style: solid;*/
  /*margin: 10px;*/
  margin-top: 0px;
  margin-bottom: 0px;
  height: 120px;
  overflow-y: hidden;
  /*margin-bottom: 70px;*/
}

@media (max-width: 799px) {
.col-sm {
  margin-bottom: 12px;
}
}
.col-sm:hover {
  opacity: 50%;
}

.col-sm img {
  width: 100%;
  overflow: hidden;
  /*height: 200px;*/
  /*padding: 1px;*/
}
/*
#musks img{
  position: relative;
  top: -55px;
}
*/

@media (min-width: 800px) {

#left {
  background-image: url('pics/apology.png');
  /*width: 50%;*/
  overflow: hidden;
  background-size: 100%;
  padding: 0px;
}

#right {
  background-color: #111;
  text-align: left;

}
}

@media (max-width: 799px) {

#left {
  background-image: url('pics/apology.png');
  width: 100%;
  height: 75vh;
  overflow: hidden;
  background-size: 100%;
  padding: 0px;
}

#right {
  background-color: #111;
  text-align: left;
  width: 100%;
  height: 150vh;

}
}

/*  width: 50%;
  overflow: hidden;
  background-size: 125%;
  padding: 0px;*/


h1 {
  padding-top: 50px;
  color: white;
  font-weight: bold;
  font-family: Helvetica, Sans-Serif;
  padding-left: 50px;
}

@media (max-width: 891px) {
h1 {
  font-size: 150%;
}
}

p {
  color: White;
  font-family: Helvetica, Sans-Serif;
  padding-top: 50px;
  padding-bottom: 50px;
}



.spotify {
  position: relative;
  top: 180px;
  left: 15px;
}

@media (max-width: 799px) {
.spotify {
  position: relative;
  top: 10%;
  left: 15px;

}
}

.spotifyfollow {
/*  position: relative;
  top: 300px;
  left: 15px;*/
}

/*
@media (max-width: 600px) {
.spotify {
  padding-left: 10px;
  padding-right: 1000px;
}
}*/
/* Clear floats after image containers */
/*.row::after {
  content: "";
  clear: both;
  display: table;
}*/

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

#logo {
  height: 30px;
}

audio {
  display: block;
  margin: auto;
  width: 175px !important;

}

audio::-webkit-media-controls-enclosure {
    border-radius: 5px;
    opacity: .77;
}
audio::-webkit-media-controls-enclosure:hover {
    border-radius: 15px;
    opacity: 1;
    transition: 1s;
    border:solid white;
}
audio::-webkit-media-controls-current-time-display,audio::-webkit-media-controls-time-remaining-display {
  display: none;
}

audio::-webkit-media-controls-mute-button {
  display: none;
}

audio::-webkit-media-controls-volume-slider {
  display: none;
}

audio::-webkit-media-controls-timeline{
  width: 90px;
}


#bb {
  color: #506644
}
#dwp {
  color: #2F3152
  background-color:yellow;
}
#fcb {
  color: pink
}
#rcl {
  color: #282f4b;
}
#sss {
  color: #3e3e41;
}
#gsk {
  color: #b8b8b8;
}
#vyg{
  color: #cb090a;
}

audio.recline::-webkit-media-controls-panel{
  background-color: #282f4b;
  color: 
}
audio.gymshark::-webkit-media-controls-panel{
  background-color: #a0a4a7;
}
audio.fuccboi::-webkit-media-controls-panel{
  background-color: #f382d2;
}
audio.d::-webkit-media-controls-panel{
  background-color: #506644;
}
audio.e::-webkit-media-controls-panel{
  background-color: #2F3152;
}
audio.voyageur::-webkit-media-controls-panel{
  background-color: #cb090a;
}
audio.session::-webkit-media-controls-panel{
  background-color: #3e3e41;
}

.clothes {
  height: 400px;
  object-fit: contain;
  display: block;
  margin: auto;
  margin-bottom: 0px;
  margin-top: 50px;
}



.title{
  margin-top: 50px;
  margin-bottom: 13px;
  color: white;
  font-weight: bold;
}
.price {
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: bold;
  /*color: #506644;*/
}

.clothes, .title, .price, audio {
  opacity: .8
}

.clothes:hover, .title:hover, .price:hover, audio:hover {
  opacity: 1;
  transition: .5s;
}

.price:hover{ 
  cursor: pointer; 
}

#end {
  height: 50px;
}

#atticushead {
  visibility: hidden;
  transition: 1s;
}

#frankiehead {
  visibility: hidden;
}

#lukehead {
  visibility: hidden;
}

.boys {
  height: 200px;
  object-fit: cover;
} 

img {
  transition: all 2s;
}
